* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif !important;
}

::-webkit-scrollbar {
  width: 0px;
}

html, body {

    overflow-x: hidden !important;
}

.loading-overlay {

  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-height: 100vh;
  height: fit-content;
  z-index: 9999;
  

}


.login-form, .register-form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  padding: 100px;

  
}

span.MuiBadge-badge {
  transform: scale(0.75);
  margin-right: -5px;
  margin-top: -5px;
}

.login-text {
  margin-bottom: 20px;
  font-weight: 600;
  width: 100%;
  line-height: 1;
}

.main-container {

    display: flex;
    flex-direction: row;
}

.nav-mobile {

   display: none;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#google_translate_element div {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  border-color: white !important;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 12px;
  width: 160px;
  display: flex;
  justify-content: center;
}

.login-button,
.login-button-regular {
  padding: 13.5px;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #dadada;
  background-color: white;
}

.login-button:hover {
  border: 1px solid black;
}

.login-button-regular {
  background-color: #00ac1c;
  color: white;
  border: #00ac1c;
  padding: 15px;
}

.login-button-regular:hover {
  background-color: #08ca28;
}

.premium {
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 10px;
  padding: 9px;
  border-radius: 3px;
  font-size: 12px;
  background-color: rgb(133, 133, 133);
  color: white;
  border: none;
  cursor: pointer;
}

.premium:hover {
  background-color: rgb(104, 104, 104);
}

.logout {
  background: none;
  border: none;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.logout:hover {
  color: gray;
  cursor: pointer;
}

.main-info {
  padding-left: 45px;
  margin-top: 45px;
  padding-right: 45px;
  padding-bottom: 30px;
}

.main-info-shared {

  padding-left: 45px;
  margin-top: 25px;
  padding-right: 45px;
  padding-bottom: 30px;
}

.boxes {
  padding-left: 45px;
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 290px);
  gap: 30px;
}

#boxes {
  justify-content: center;
  
}

.latestBag {
  padding-top: 60px;
}

.menu-mobile {
  display: none;
}

#logo-mobile-login {
  display: none;
}

.login-img {
  display: block;
  width: 50vw;
  height: 100vh;
}

.login-content, .register-content {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-icon-mobile {
  display: none;
}

.recent-desktop {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.recent-mobile {
  display: none;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
  right: 0;
}



.container {
  width: 500px;
}

::-webkit-file-upload-button {
  background: rgb(182, 182, 182);
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 5px;
}


.loading {

   margin-right: 210px;
}


.innerBagData  {

  display: flex;
  direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  
}




.join-mobile {

    display: none;
}

.join-desktop {

   display: block;
}


.pieChart-table {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}



.categories {

    margin-left: 10px;
    margin-right: 10px;
}


.search-content {

    display: flex;

}

.share-icon-desktop {

   display: block;
}

.share-icon-mobile {

    display: none;
}

.switch-icon-mobile {

    display: none;
}

.switch-icon-desktop {

  display: block;
}


.register-image-upload {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin-bottom: 25px;

 
}



@media only screen and (max-width: 768px) {



  .login-form {

      padding: 20px;
     background-color: rgba(255, 255, 255, 0.911);
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 75px;
      border-radius: 20px;
  }

  .register-form {

    padding: 20px;
    background-color: rgba(255, 255, 255, 0.911);
     margin-left: 15px;
     margin-right: 15px;
     margin-top: 150px;
     margin-bottom: 50px;
     border-radius: 20px;
  }

  .login-form h1 {

      color: black;
      font-size: 27px;
  }
  


  .register-image-upload {

    width: 100%;

  }


  .switch-icon-mobile {

    display:block;
}

.switch-icon-desktop {

  display: none;
}
   


  .share-icon-desktop {

     display: none;
  }

  .share-icon-mobile {

     display: block;
  }


  .categories {

      margin-bottom: 15px;
  }

  .search-content {

    display: block;
    
}

  .pieChart-table {

    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
   
  
}


   .join-mobile {

      display: block;
   }

  .join-desktop {

      display: none;
  }



  .category-drag, .item-drag {

      display: none;
  }

  

  .innerBagData {

     justify-content: space-evenly;
  }





  .loading {

    margin-right: 0px;
  }

   
  #logo-mobile-login {
    display: block;
  }

  

  .login-img {
    display: none;
    width: 0vw;
  }

  .login-content {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-image: url("./public/hiking.png");
    background-size: cover;
    background-position: center;
    align-items: center;
  }


  .register-content {

    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-image: url("./public/hiking-2.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .nav {
    display: none;
  }

  .main-container {

    display: flex;
    flex-direction: column;
}

.nav-mobile {

  display: block;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-mobile img, #share-logo {

    width: 90px;
    height: 60px;
}

  .recent-mobile {
    position: absolute;
    right: 0;
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .recent-desktop {
    display: none;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
  }

  .main-info,
  .boxes, .main-info-shared {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

  }


 

  .menu-mobile {
    display: block;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .boxes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .scroll-div {
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
   
    
  }

  

  .scroll-div input, .scroll-div-share input, .scroll-div-share select,
  .scroll-div select {
    
     width: auto;
  }

  .side-bar-icon-mobile, .share-icon-mobile {
    display: block;
  }
}
